*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
h1{
    color: rgb(214, 30, 76);
}
h2{
    text-align: center;
    color: aliceblue;
    margin-bottom: 30px;
}
.bg{
    width: 100%;
    position: absolute;
    z-index: -1;
}
.container{
    margin-top: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(34, 33, 33, 0.5);
    border-radius: 10px;
    padding: 30px;
    padding: 10px;
}
form{
    display: flex;
    flex-direction: column;
}
input, textarea{
    width: 70%;
    padding: 7px;
    margin: 7px auto;
    border-radius: 7px;
    outline: none;
    font-size: 12px;
}
.login{
    display: flex;
    justify-content: center;
    text-align: center;
}
.login a{
    margin-left: 10px;
    text-decoration: none;
    color: rgb(214, 30, 76);
    font-weight: 700;

}
button{
    border-radius: 5px;
    padding: 5px;
    margin: 4px;
    width: 60%;
    cursor: pointer;
    margin-left: 90px; 

}
.submit{
    background-color: rgb(106, 235, 106);
    

}
.reset{
    background-color: rgb(231, 117, 76);
   
}
