*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.nv{
    background-color:antiquewhite ;
}
nav{
    margin: 10px;
 
}

.navbar ul{
    display: flex;
    float: right;
    list-style: none;
    margin: 10px;
    
}
.navbar ul li a {
    text-decoration: none;
    padding: 10px;
   /* list-style: none;*/
   font-size: 20px;
   color: black;
}
.header{
    background-color: rgb(245, 237, 238);
    margin-top: 10px;
    padding: 30px;
}
h1{
    text-align: center;
    font-size: 70px;
    font-family: sans-serif;
    text-shadow: 3px;
    margin-top: 25px;
    color: rgba(1, 31, 13, 0.911);
}
.card{
    background-color: rgb(247, 227, 233);
    margin: 10px;
   /* padding: 20px;*/
    border-radius: 10px;
    width: 25%;
    height: 40%;
    overflow: hidden;
}
.parent-card{
    display: flex;
    justify-content: space-between;
    margin: 50px 80px 30px 80px;
    padding-top: 10px;
    padding-bottom: 40px;
    
    
}
.logo{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
}
.image{
   width: 100%;
   height: 100%;
   overflow: hidden;
    /*border-radius: 10px;
    align-items: center;
    margin-left: 30px;*/
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-content{
    text-align: center;
    padding: 10px;
    margin: 10px;
}
.card-content p{
    margin-top: 15px;
}
.header p{
    margin: 40px 250px 40px 250px;
   /* text-justify: auto;*/
    text-align: center;
    font-size: large;
}
.about{
    background-color: rgb(241, 218, 187);
    margin-top: -50px;

}
.about h2{
    text-align: center;
    font-size: 50px;
    padding-top: 30px;
    padding-bottom: -30px;
}
.foot{
    display: flex;
    padding: 70px;
    background-color: beige;
    margin-top: -30px;

}
.contact{
    width: 50%;
    
}
form{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: auto;
}
form input, textarea{
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
}
.contact h2{
    text-align: center;
}

button{
    margin: 7px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgb(118, 247, 118);
}
.address{
    margin: auto;
}
